extends layout

block content
  h1 #{category.name}
  hr

  p= category.description
  h2 Items in category
  if item_list.length
    div
      ul
      each item in item_list
        li
          a(href=item.url) #{item.name}
  else
    p.text-danger There is currently no item in this category.

  hr
  a.btn.btn-primary(href=`${category.url}/update` role="button" style="margin-right: 10px;") Update
  a.btn.btn-danger(href=`${category.url}/delete` role="button") Delete