extends layout

block content
  h1 #{manufacturer.name} (Manufacturer)
  hr

  p #[strong Address:] #{manufacturer.address}

  h3 Products from #{manufacturer.name}

  if item_list.length
    ul
      each item in item_list
        li
          a(href=item.url) #{item.name}
  else
    p.text-danger There is currently no item from this manufacturer

  hr
  a.btn.btn-primary(href=`${manufacturer.url}/update` role="button" style="margin-right: 10px;") Update
  a.btn.btn-danger(href=`${manufacturer.url}/delete` role="button") Delete