extends layout

block content
  h1 #{title}: #{manufacturer.name}
  hr

  if errors
    ul
      each error in errors 
        li.text-danger!= error.msg
    
    ul
      each item in item_list 
        li
          a(href=item.url) #{item.name}
  else
    p Do you really want to delete the manufacturer #{manufacturer.name}?
    form(method="POST" action="")
      div.form-group
        button.btn.btn-danger(type="submit") Delete